<rss version="2.0" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Rai API - <%- canale %></title>
        <description>Rai API RSS feed for <%- canale %></description>
        <generator>raiapi.js</generator>
        <link>https://<%- hostname %></link>
        <language>it-IT</language>
        <lastBuildDate><%- today.toGMTString(); %></lastBuildDate>
        <copyright>(c) <%- today.getFullYear() %> <%- hostname %></copyright>
        <atom:link href="https://<%- hostname+url %>" rel="self" type="application/rss+xml" />
        <% programmi.forEach(({ name, orario, url }) => { %>    <item><%
                const date = name.match(/S\d+E\d+|\d{4}/gi) ? '' : dateTag;
                const [orarioH, orarioM] = orario.split(':');
                today.setHours(orarioH);
                today.setMinutes(orarioM);
            %>
            <title><![CDATA[<%- `${name} ${date}` %>]]></title>
            <description>
                <![CDATA[<%- `${name}.${date}.WEBRip.AAC.x264.mp4`.replace(/( - | )/g, '.').replace(/\.+/g, '.') %>]]>
            </description>
            <link><%- url %></link>
            <guid><%- url %></guid>
            <enclosure url="<%- url %>" type="video/mp4" length="1024" />
            <pubDate><%- today.toGMTString(); %></pubDate>
        </item>
    <% }); %></channel>
</rss>
